NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
DATABASE_URL=
GOOGLE_AI_API_KEY=
TRIGGER_API_KEY=
TRIGGER_PROJECT_REF=
TRIGGER_CALLBACK_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_URL=http://localhost:3000
TRANSLOADIT_KEY=
TRANSLOADIT_SECRET=